# Dependências
node_modules/
*/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
.npm/
